* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linear-gradient-primary: hsl(236, 72%, 79%);
  --linear-gradient-secondary: hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.container {
  max-width: 100%;
  min-height: 100%;
  font-size: 15px;
  font-family: sans-serif;
  background-color: var(--very-light-grayish-blue);
  background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 100%, 100% 0%;
  background-size: 18rem, 15rem;
}

h1 {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 1.5rem;
  padding: 2rem 0;
}

h2 {
  font-size: 0.8rem;
}

h3 {
  font-size: 5vw;
  padding: 1rem 0;
}

h4 {
  font-size: 3rem;
  padding: 1rem 3rem;
  display: none;
}

p {
  font-size: 0.8rem;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-grayish-blue);
  column-gap: 1rem;
}

#selector-bar {
  background-color: var(--linear-gradient-secondary);
  height: 1.5rem;
  width: 3rem;
  margin: 0 1.2;
  padding: 0.1rem;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

#selector-bar input {
  width: 0;
  height: 0;
}
#toggle-btn {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: white;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80%; */
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.card-left,
.card-middle,
.card-right {
  padding: 1.3rem;
  height: 60vh;
  width: 30%;
  color: var(--dark-grayish-blue);
  background-color: white;
  box-shadow: 0 0 19px -8px rgba(0, 0, 0, 0.75);
}

.card-middle {
  padding: 3rem 1.3rem;
  background: linear-gradient(
    var(--linear-gradient-primary),
    var(--linear-gradient-secondary)
  );
  color: white;
  border-radius: 10px;
  height: 70%;
}

.card-left p,
.card-middle p,
.card-right p {
  padding: 1rem 0;
}

.card-left p,
.card-right p {
  color: var(--grayish-blue);
}

.card-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
  font-size: 15px;
  color: var(--linear-gradient-secondary);
}

.card-left button,
.card-right button {
  background: linear-gradient(
    var(--linear-gradient-primary),
    var(--linear-gradient-secondary)
  );
  color: white;
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .card-left h3,
  .card-middle h3,
  .card-right h3 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 760px) {
  #cards {
    flex-direction: column;
  }
  .card-left,
  .card-middle,
  .card-right {
    margin: 1rem;
    border-radius: 10px;
    width: 80%;
  }
}
